<!DOCTYPE html>
<html>
<head>
	<title>vibrato</title>
</head>
<body>
<h1>Users Info</h1>

<form>
	<input type="search" placeholder="Search" name="q">
	<button type="submit">Search</button>
</form>

<table>
	<thead>
		<tr>
  			<th>Firstname</th>
  			<th>Lastname</th>
  			<th>Email</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			<td>{{ user.firstname }}</td>
			<td>{{ user.lastname }}</td>
			<td>{{ user.email }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</body>
</html>